<%= content_for :title do %>Colaborador<% end %>
  <h3>Colaborador</h3>
  <div class="form">
    <%= simple_form_for @colaboradore do |form|%>
      <%= form.association :user, include_blank: false, :label => "Nombre" %>
      <%= form.input :cedula %>
      <%= form.input :direccion %>
      <%= form.input :telefono_personal %>
      <%= form.input :telefono_empresa %>
      <%= form.input :departamento %>
      <%= form.input :cargo %>
      <%= form.input :jefe_inmediato %>
      <%= form.button :submit, 'Submit', class: 'submit'%>
    <% end %>
</div>
