<p>
  <strong>Nombre:</strong>
  <%= @colaboradore.nombre %>
</p>

<p>
  <strong>Cédula:</strong>
  <%= @colaboradore.cedula %>
</p>

<p>
  <strong>Dirección:</strong>
  <%= @colaboradore.direccion %>
</p>

<p>
  <strong>Teléfono personal:</strong>
  <%= @colaboradore.telefono_personal %>
</p>

<p>
  <strong>Teléfono empresa:</strong>
  <%= @colaboradore.telefono_empresa %>
</p>

<p>
  <strong>Cargo:</strong>
  <%= @colaboradore.cargo.nombre %>
</p>

<p>
  <strong>Departamento:</strong>
  <%= @colaboradore.departamento.nombre %>
</p>

<p>
  <strong>Jefe inmediato:</strong>
  <%= @colaboradore.jefe_inmediato %>
</p>

<%= link_to 'Editar', edit_colaboradore_path(@colaboradore) %> |
<%= link_to 'Regresar', colaboradores_path %>
