<% content_for :title do %>Nueva Orden<% end %>
<h3>Nueva Orden</h3>
<div class="form">
  <%= simple_form_for([@presupuesto, @ordene]) do |form| %>
      <%= form.association :proveedore, :label_method => :nombre, include_blank: true, label: 'Proveedor' %>
      <%= form.input :fecha_orden %>
      <%= form.button :submit, 'Guardar', class: 'submit' %>
  <% end %>
</div>
<%= link_to 'Regresar', presupuesto_ordenes_path %>