<p id="notice"><%= notice %></p>

<p>
  <strong>Fecha orden:</strong>
  <%= @ordene.try(:fecha_orden) %>
</p>

<p>
  <strong>Medidas (CM x COL):</strong>
  <%= @ordene.try(:cm)%> x <%= @ordene.try(:col)%>
</p>

<p>
  <strong>Unidad:</strong>
  <%= @ordene.try(:unidad) %>
</p>

<p>
  <strong>Ubicacion:</strong>
  <%= @ordene.try(:ubicacion) %>
</p>

<p>
  <strong>Cantidad:</strong>
  <%= @ordene.try(:cantidad) %>
</p>

<p>
  <strong>Costo unidad:</strong>
  <%= @ordene.try(:costo_unidad) %>
</p>

<p>
  <strong>Descuento:</strong>
  <%= @ordene.try(:descuento) %>
</p>

<p>
  <strong>Iva:</strong>
  <%= @ordene.try(:iva) %>
</p>

<p>
  <strong>Subtotal:</strong>
  <%= @ordene.try(:subtotal) %>
</p>

<p>
  <strong>Total:</strong>
  <%= @ordene.try(:total) %>
</p>

<p>
  <strong>Presupuesto No.:</strong>
  <%= @ordene.presupuesto.id %>
</p>

<p>
  <strong>Notas:</strong>
  <%= @ordene.notas %>
</p>
<p><%= link_to 'Descargar Orden en PDF', presupuesto_ordene_path( :ordene_id => @ordene, format: 'pdf') %></p>
<p><%= link_to 'Regresar', presupuesto_path(@presupuesto) %><br>
