<p id="notice"><%= notice %></p>

<p>
  <strong>Fecha orden:</strong>
  <%= @ordene.try(:fecha_orden) %>
</p>

<p>
  <strong>Medida:</strong>
  <%= @ordene.try(:medida)%>
</p>

<p>
  <strong>Unidad:</strong>
  <%= @ordene.try(:unidad) %>
</p>

<p>
  <strong>Costo unidad:</strong>
  <%= @ordene.try(:costo_unidad) %>
</p>

<p>
  <strong>Total:</strong>
  <%= @ordene.try(:total) %>
</p>

<p>
  <strong>Presupuesto:</strong>
  <%= @ordene.try(:presupuesto) %>
</p>
<p><%= link_to 'Descargar Presupuesto en PDF', presupuesto_ordene_path( :ordene_id => @ordene, format: 'pdf') %></p>
<p><%#= link_to 'Regresar', presupuesto_ordene_path(@presupuesto) %><br>
