<div class="row">
  <h1>Libro Diario</h1>
  <div class="pull-right range-query">
     <%= form_tag total_ajustes_path, method: :get do %>
        <%= text_field_tag 'search[fecha_from]', @search.fecha_from %>
        <%= text_field_tag 'search[fecha_to]', @search.fecha_to %>
        <%= submit_tag 'Buscar', class: 'btn search-button' %>
      <% end %>
  </div>
</div>
<div class="media">
<div class="media">
  <div class="media-body">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Fecha</th>
          <th>Numero de Documento</th>
          <th>Codigo</th>
          <th>Cuenta</th>
          <th>Debito</th>
          <th>Credito</th>
          <th>Numero de Ajuste</th>
          <th colspan="3"></th>
        </tr>
      </thead>
      <tbody>
        <% @transaccions.each do |transaccion| %>
          <tr>
            <td><%= transaccion.fecha %></td>
            <td><%= transaccion.try(:numero_de_documento) %></td>
            <td><%= transaccion.subcuenta_puc.try(:subcuenta) %></td>
            <td><%= transaccion.subcuenta_puc.try(:descripcion) %></td>
            <td><%= number_to_currency(transaccion.debito, :precision => 0) %></td>
            <td><%= number_to_currency(transaccion.credito, :precision => 0) %></td>
            <td><%= transaccion.ajuste_id %></td>
          </tr>
        <% end %>
		<p>
	  		<strong>Total Debito:</strong>
	  		<%= total_debito = Transaccion.sum(:debito) %>
		</p>
    <p>
        <strong>Total Credito:</strong>
        <%= total_credito = Transaccion.sum(:credito) %>
    </p>

    <p>
        <strong>Saldo:</strong>
        <%= saldo = total_debito - total_credito %>
    </p>
      </tbody>
    </table>
  </div>
</div>
<br>
<%= link_to 'Descargar Reporte', total_ajustes_path(format: "csv"), class: 'btn btn-default' %>
