<%= form_for(@presupuesto) do |f| %>
  <% if @presupuesto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@presupuesto.errors.count, "error") %> prohibited this presupuesto from being saved:</h2>

      <ul>
      <% @presupuesto.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :fecha %><br>
    <%= f.datetime_select :fecha %>
  </div>
  <div class="field">
    <%= f.label :cliente%><br>
    <%= collection_select( :presupuesto, :cliente_id, Cliente.all, :id, :nombre, {}, {:multiple => false}) %>
  </div>
  <div class="field">
    <%= f.label :titulo %><br>
    <%= f.text_field :titulo %>
  </div>
  <div class="field">
    <%= f.label :producto %><br>
    <%= f.text_field :producto %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
