<% content_for :title do %>Presupuestos<% end %>
<h3>Editar Presupuesto</h3>
<div class="form">
    <%= simple_form_for @presupuesto do |form| %>
    <%= form.input :fecha %>
    <%= form.association :cliente, :label_method => :nombre, include_blank: false, label: "Cliente"  %>
    <%= form.input :titulo %>
    <%= form.input :producto %>
     <%= form.button :submit, 'Guardar', class: 'submit' %>
    <% end %>
  </div>

<%= link_to 'Regresar', presupuestos_path %>
