<p id="notice"><%= notice %></p>

<h1>Listing Presupuestos</h1>

<%= form_tag presupuestos_path, method: :get do %>
  <%= text_field_tag 'search[date_from]', @search.date_from %>
  <%= text_field_tag 'search[date_to]', @search.date_to %>
  <%= submit_tag 'Search' %>
<% end %>

<table>
  <thead>
    <tr>
      <th>Fecha</th>
      <th>Cliente</th>
      <th>Nit</th>
      <th>Dirección</th>
      <th>Teléfono</th>
      <th>Contacto financiero</th>
      <th>Contacto comercial</th>
      <th>Ejecutivo</th>
      <th>Agencia</th>
      <th>Nit agencia</th>
      <th>Titulo</th>
      <th>Producto</th>
      <th>Colaboradore</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @presupuestos.each do |presupuesto| %>
      <tr>
        <td><%= presupuesto.fecha %></td>
        <td><%= presupuesto.cliente %></td>
        <td><%= presupuesto.nit %></td>
        <td><%= presupuesto.dirección %></td>
        <td><%= presupuesto.teléfono %></td>
        <td><%= presupuesto.contacto_financiero %></td>
        <td><%= presupuesto.contacto_comercial %></td>
        <td><%= presupuesto.ejecutivo %></td>
        <td><%= presupuesto.agencia %></td>
        <td><%= presupuesto.nit_agencia %></td>
        <td><%= presupuesto.titulo %></td>
        <td><%= presupuesto.producto %></td>
        <td><%= presupuesto.colaboradore %></td>
        <td><%= link_to 'Show', presupuesto %></td>
        <td><%= link_to 'Edit', edit_presupuesto_path(presupuesto) %></td>
        <td><%= link_to 'Destroy', presupuesto, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Presupuesto', new_presupuesto_path %>
