<div class="row">
  <h1>Listado de Presupuestos</h1>
  <div class="pull-right range-query">
     <%= form_tag presupuestos_path, method: :get do %>
        <%= text_field_tag 'search[fecha_from]', @search.fecha_from %>
        <%= text_field_tag 'search[fecha_to]', @search.fecha_to %>
        <%= submit_tag 'Buscar', class: 'btn search-button' %>
      <% end %>
  </div>
</div>
<div class="media">
  <div class="media-body">
      <table class="table table-hover">
          <thead>
            <tr>
              <th>Presupuesto No.</th>
              <th>Fecha</th>
              <th>Cliente</th>
              <th>Nit</th>
              <th>Dirección</th>
              <th>Teléfono</th>
              <th>Titulo</th>
              <th>Producto</th>
              <th>Colaborador</th>
              <th colspan="3"></th>
            </tr>
          </thead>
          <tbody>
           <% @presupuestos.each do |presupuesto| %>
              <tr>
                <td><%= presupuesto.id %></td>
                <td><%= presupuesto.fecha %></td>
                <td><%= presupuesto.cliente.nombre %></td>
                <td><%= presupuesto.cliente.numero_de_documento %></td>
                <td><%= presupuesto.cliente.direccion_de_facturacion %></td>
                <td><%= presupuesto.cliente.telefono %></td>
                <td><%= presupuesto.titulo %></td>
                <td><%= presupuesto.producto %></td>
                <td><%= presupuesto.cliente.colaboradore.try(:nombre) %></td>
                <td><%= link_to 'Mostrar', presupuesto, class: 'btn btn-mini btn-default' %></td>
                <td><%= link_to 'Editar', edit_presupuesto_path(presupuesto), class: 'btn btn-mini btn-success' %></td>
                <td><%= link_to 'Borrar', presupuesto, method: :delete, class: 'btn btn-mini btn-danger', data: { confirm: 'Confirma?' } %></td>
              </tr>
            <% end %>
          </tbody>
    </table>
  </div>
</div>

<br>

<%= link_to 'Nuevo Presupuesto', new_presupuesto_path , class: 'btn btn-mini btn-default'%>
<br>
<br>
<%= form_tag import_presupuestos_path, multipart: true do%>
  <%= file_field_tag :file %><br>
  <%= submit_tag 'Subir Datos' %>
<% end %><br>

<%= link_to 'Descargar Reporte', presupuestos_path(format: "csv") %>
