<p>
  <h1>Presupuesto No. <%= @presupuesto.id %></h1>
</p>
<p>
  <strong>Fecha:</strong>
  <%= @presupuesto.fecha %>
</p>
<p>
  <strong>Cliente:</strong>
  <%= @presupuesto.cliente.try(:nombre) %>
</p>
<p>
  <strong>Nit:</strong>
  <%= @presupuesto.cliente.numero_de_documento   %>
</p>
<p>
  <strong>Dirección:</strong>
  <%= @presupuesto.cliente.try(:direccion_de_facturacion) %>
</p>
<p>
  <strong>Teléfono:</strong>
  <%= @presupuesto.cliente.try(:telefono) %>
</p>
<p>
  <strong>Titulo:</strong>
  <%= @presupuesto.titulo %>
</p>
<p>
  <strong>Producto:</strong>
  <%= @presupuesto.producto %>
</p>
<p>
  <strong>Tipo de Medio:</strong>
  <%= @presupuesto.tipo_de_medio %>
</p>
<p>
  <strong>Ejecutivo:</strong>
  <%= @presupuesto.cliente.colaboradore.try(:nombre) %>
</p>
<div class="media">
  <div class="media-body">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Orden No.</th>
          <th>Fecha Orden</th>
          <th>Proveedor</th>
          <th>Ref. Preventa</th>
          <th>Subtotal</th>
          <th>Iva</th>
          <th>Total</th>
        </tr>
      </thead>
	      <tbody>
          <% total_general = 0 %>


	        <% @ordenes.each do |ordene| %>
	        <tr>
            <td><h4><%= ordene.id %></h4></td>
            <td><h4><%= ordene.fecha_orden %></h4></td>
            <td><h4><%= ordene.proveedore.nombre %></h4></td>
            <td><h4><%= ordene.referencia_preventa %></h4></td>
            <td><h4><%= number_to_currency(ordene.subtotal, :precision => 0) %></h4></td>
             <td><h4><%= number_to_currency(ordene.iva, :precision => 0) %></h4></td>
            <td><h4><%= number_to_currency(ordene.total, :precision => 0) %></h4></td>
            <td><%= link_to 'Mostrar', presupuesto_ordene_path(@presupuesto, ordene), class: 'btn btn-mini btn-default' %></td>
            <td><%= link_to 'Editar', edit_presupuesto_ordene_path(@presupuesto, ordene), class: 'btn btn-mini btn-success' %></td>
            <% total_general = total_general + ordene.subtotal%>
	        </tr>
	        <% end %>
	    </tbody>
 	 	</table> 

<h4 >Subtotal :<%= number_to_currency(total_general, :precision => 0) %></h4>
<h4 >IVA:<%= number_to_currency(iva =total_general * 0.16, :precision => 0) %></h4>
<h4 >Total Orden:<%= number_to_currency(total_general + iva, :precision => 0) %></h4><br>

<p><%= link_to 'Agregar Nueva Orden', new_presupuesto_ordene_path(@presupuesto), class: 'btn btn-mini btn-default' %></p>   
<p><%= link_to 'Descargar Presupuesto en PDF', presupuesto_path(@presupuesto, format: 'pdf') %></p>
<p><%= link_to 'Editar', edit_presupuesto_path(@presupuesto) %> <br></p>
<p><%= link_to 'Regresar', presupuestos_path %><br></p>
