<p id="notice"><%= notice %></p>

<p>
  <strong>Fecha:</strong>
  <%= @presupuesto.fecha %>
</p>

<p>
  <strong>Cliente:</strong>
  <%= @presupuesto.cliente.try(:nombre) %>
</p>

<p>
  <strong>Nit:</strong>
  <%= @presupuesto.cliente.try(:nit)   %>
</p>

<p>
  <strong>Dirección:</strong>
  <%= @presupuesto.cliente.try(:direccion_de_facturacion) %>
</p>

<p>
  <strong>Teléfono:</strong>
  <%= @presupuesto.cliente.try(:telefono) %>
</p>

<p>
  <strong>Titulo:</strong>
  <%= @presupuesto.titulo %>
</p>

<p>
  <strong>Producto:</strong>
  <%= @presupuesto.producto %>
</p>

<p>
  <strong>Colaboradore:</strong>
  <%= @presupuesto.cliente.colaboradore.try(:nombre) %>
</p>

<div class="media">
  <div class="media-body">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Proveedor</th>
          <th>Medio</th>
          <th>Fecha Orden</th>
          <th>Medida</th>
          <th>Unidad</th>
          <th>Costo Unidad</th>
          <th>Total</th>
        </tr>
      </thead>
	      <tbody>
	        <% @ordenes.each do |ordene| %>
	        <tr>
	          <td><h4><%= ordene.medio.proveedore.try(:nombre) %></h4></td>
	          <td><h4><%= ordene.medio.try(:nombre) %></h4></td>
	          <td><h4><%= ordene.fecha_orden %></h4></td>
	          <td><h4><%= ordene.medida %></h4></td>
	          <td><h4><%= ordene.costo_unidad %></h4></td>
	          <td><h4><%= ordene.total %></h4></td>
						<td><%= link_to 'Edit', edit_presupuesto_ordene_path(@presupuesto, ordene) %></td>
						<td><%= link_to 'Destroy', presupuesto_ordene_path(@presupuesto, ordene), method: :delete, data: { confirm: 'Are you sure?' } %></td>
	        </tr>
	        <% end %>
	    </tbody>
 	 	</table> 

<%= link_to 'Edit', edit_presupuesto_path(@presupuesto) %> |
<%= link_to 'Back', presupuestos_path %>
<%= link_to 'Agregar nueva orden', new_presupuesto_ordene_path(@presupuesto) %>
