<p>
  <strong>Fecha:</strong>
  <%= @presupuesto.fecha %>
</p>
<p>
  <strong>Cliente:</strong>
  <%= @presupuesto.cliente.try(:nombre) %>
</p>
<p>
  <strong>Nit:</strong>
  <%= @presupuesto.cliente.try(:nit)   %>
</p>
<p>
  <strong>Dirección:</strong>
  <%= @presupuesto.cliente.try(:direccion_de_facturacion) %>
</p>
<p>
  <strong>Teléfono:</strong>
  <%= @presupuesto.cliente.try(:telefono) %>
</p>
<p>
  <strong>Titulo:</strong>
  <%= @presupuesto.titulo %>
</p>
<p>
  <strong>Producto:</strong>
  <%= @presupuesto.producto %>
</p>
<p>
  <strong>Ejecutivo:</strong>
  <%= @presupuesto.cliente.colaboradore.try(:nombre) %>
</p>
<div class="media">
  <div class="media-body">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Proveedor</th>
          <th>Medio</th>
          <th>Fecha Orden</th>
          <th>Ref. Preventa</th>
          <th>Ubicacion/Programa</th>
          <th>Formato</th>
          <th>Franja/Periodo</th> 
          <th>Unidad</th>
          <th>CM</th>
          <th>COL</th>
          <th>Cantidad<th>
          <th>Costo Unidad</th>
          <th>Descuento</th>
          <th>Total</th>
        </tr>
      </thead>
	      <tbody>
          <% total_general = 0 %>
          <% dto = 0 %>
          <% subtotal = 0 %>
          <% area = 0 %>

	        <% @ordenes.each do |ordene| %>
	        <tr>
	          <td><h4><%= ordene.medio.proveedore.try(:nombre) %></h4></td>
	          <td><h4><%= ordene.medio.try(:nombre) %></h4></td>
	          <td><h4><%= ordene.fecha_orden %></h4></td>
	          <td><h4><%= ordene.referencia_preventa %></h4></td>
            <td><h4><%= ordene.ubicacion %></h4></td>
            <td><h4><%= ordene.formato %></h4></td>
            <td><h4><%= ordene.franja %></h4></td>
            <td><h4><%= ordene.unidad %></h4></td>
            <td><h4><%= ordene.cm %></h4></td>
            <td><h4><%= ordene.col %></h4></td>
            <td><h4><%= ordene.cantidad %></h4></td>
            <td><h4><%= ordene.costo_unidad %></h4></td>
            <td><h4><%= number_to_percentage((ordene.descuento * 100)) %></h4></td>

            <% dto = ordene.descuento * ordene.costo_unidad %>
            <% if area == 0 %>
                <td><h4><%= number_to_currency(subtotal = ((ordene.costo_unidad - dto) * ordene.cantidad)) %></h4></td>
              <% else %>
              <% area = ordene.cm * ordene.col %>
                <td><h4><%= subtotal = (((area * ordene.costo_unidad) - dto) * ordene.cantidad) %></h4></td>
            <% end %>
						<td><%= link_to 'Edit', edit_presupuesto_ordene_path(@presupuesto, ordene) %></td>
						<td><%= link_to 'Destroy', presupuesto_ordene_path(@presupuesto, ordene), method: :delete, data: { confirm: 'Are you sure?' } %></td>
            <% total_general = total_general + subtotal%>
	        </tr>
	        <% end %>
	    </tbody>
 	 	</table> 

<h4 >SubTotal Presupuesto:<%= number_to_currency(total_general) %></h4>
<h4 >IVA:<%= number_to_currency(iva =total_general * 0.16) %></h4>
<h4 >Total Presupuesto:<%= number_to_currency(total_general + iva) %></h4><br>

    

<%= link_to 'Editar', edit_presupuesto_path(@presupuesto) %> <br>
<%= link_to 'Regresar', presupuestos_path %><br>
<%= link_to 'Agregar nueva orden', new_presupuesto_ordene_path(@presupuesto) %>
