<p>
  <strong>Fecha:</strong>
  <%= @presupuesto.fecha %>
</p>
<p>
  <strong>Cliente:</strong>
  <%= @presupuesto.cliente.try(:nombre) %>
</p>
<p>
  <strong>Nit:</strong>
  <%= @presupuesto.cliente.numero_de_documento   %>
</p>
<p>
  <strong>Dirección:</strong>
  <%= @presupuesto.cliente.try(:direccion_de_facturacion) %>
</p>
<p>
  <strong>Teléfono:</strong>
  <%= @presupuesto.cliente.try(:telefono) %>
</p>
<p>
  <strong>Titulo:</strong>
  <%= @presupuesto.titulo %>
</p>
<p>
  <strong>Producto:</strong>
  <%= @presupuesto.producto %>
</p>
<p>
  <strong>Ejecutivo:</strong>
  <%= @presupuesto.cliente.colaboradore.try(:nombre) %>
</p>
<div class="media">
  <div class="media-body">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Orden No.</th>
          <th>Medio</th>
          <th>Fecha Orden</th>
          <th>Unidad</th>
          <th>Formato</th>
          <th>Costo Unidad</th>
          <th>Descuento</th>
          <th>Cantidad</th>
          <th>Ubicacion</th>
          <th>Valor</th>
          <th>Ref. Preventa</th>
          <th>Notas</th>
        </tr>
      </thead>
	      <tbody>
          <% total_general = 0 %>
          <% dto = 0 %>
          <% subtotal = 0 %>
          <% area = 0 %>

	        <% @ordenes.each do |ordene| %>
	        <tr>
            <td><h4><%= ordene.id %></h4></td>
            <td><h4><%= ordene.medio.nombre %></h4></td>
	          <td><h4><%= ordene.fecha_orden %></h4></td>
            <td><h4><%= ordene.unidad %></h4></td>
            <td><h4><%= ordene.formato %></h4></td>
            <td><h4><%= number_to_currency(ordene.costo_unidad, :precision => 0) %></h4></td>
            <td><h4><%= number_to_percentage((ordene.descuento * 100), :precision =>0 ) %></h4></td>
            <td><h4><%= ordene.cantidad %></h4></td>
            <td><h4><%= ordene.ubicacion %></h4></td>
            <% dto = ordene.descuento * ordene.costo_unidad %>

            <% if area == 0 %>
                <td><h4><%= number_to_currency(subtotal = ((ordene.costo_unidad - dto) * ordene.cantidad), :precision => 0) %></h4></td>
              <% else %>
              <% area = ordene.cm * ordene.col %>
                <td><h4><%= subtotal = (((area * ordene.costo_unidad) - dto) * ordene.cantidad) %></h4></td>
            <% end %>
            
            <td><h4><%= ordene.referencia_preventa %></h4></td>
            <td><h4><%= ordene.notas %></h4></td>
						<td><%= link_to 'Editar', edit_presupuesto_ordene_path(@presupuesto, ordene), class: 'btn btn-mini btn-success' %></td>
            <td><%= link_to 'Mostrar', presupuesto_ordene_path(@presupuesto, ordene), class: 'btn btn-mini btn-default' %></td>
						<td><%= link_to 'Destroy', presupuesto_ordene_path(@presupuesto, ordene), method: :delete, data: { confirm: 'Confirma?' }, class: 'btn btn-mini btn-danger' %></td>
            <% total_general = total_general + subtotal%>
	        </tr>
	        <% end %>
	    </tbody>
 	 	</table> 

<h4 >Subtotal Presupuesto:<%= number_to_currency(total_general, :precision => 0) %></h4>
<h4 >IVA:<%= number_to_currency(iva =total_general * 0.16, :precision => 0) %></h4>
<h4 >Total Presupuesto:<%= number_to_currency(total_general + iva, :precision => 0) %></h4><br>

<p><%= link_to 'Agregar nueva orden', new_presupuesto_ordene_path(@presupuesto), class: 'btn btn-mini btn-default' %></p>   
<p><%= link_to 'Descargar Presupuesto en PDF', presupuesto_path(@presupuesto, format: 'pdf') %></p>
<p><%= link_to 'Editar', edit_presupuesto_path(@presupuesto) %> <br></p>
<p><%= link_to 'Regresar', presupuestos_path %><br></p>
