<div class="row">
  <h1>Listado Ordenes de Pago</h1>
  <div class="pull-right range-query">
     <%= form_tag pagos_path, method: :get do %>
        <%= text_field_tag 'search[fecha_from]', @search.fecha_from %>
        <%= text_field_tag 'search[fecha_to]', @search.fecha_to %>
        <%= submit_tag 'Buscar', class: 'btn search-button' %>
      <% end %>
  </div>
</div>
<div class="media">
  <div class="media-body">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Fecha</th>
          <th>Proveedor</th>
          <th>Factura Proveedor</th>
          <th>Factura Gasto</th>
          <th>Valor</th>
          <th colspan="3"></th>
        </tr>
      </thead>
      <tbody>
        <% @pagos.each do |pago| %>
          <tr>
            <td><%= pago.fecha %></td>
            <td><%= pago.proveedore.nombre %></td>
  
            <td><%= pago.importe%></td>
            <td><%= link_to 'Mostrar', pago, class: 'btn btn-mini btn-default' %></td>
            <td><%= link_to 'Pagar', edit_pago_path(pago), class: 'btn btn-mini btn-success' %></td>
            <td><%= link_to 'Eliminar', pago, method: :delete, data: { confirm: 'Confirma?' }, class: 'btn btn-mini btn-danger' %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<br>

<%= link_to 'Nuevo Pago', new_pago_path %>
