<% content_for :title do %>Pagos<% end %>
<h3>Pagos</h3>
<div class="form">
  <%= simple_form_for @gasto do |form| %>
    <%= form.input :fecha %>
    <%= form.association :proveedore, :label_method => :nombre, include_blank: true, label: "Proveedor"  %>
    <%= form.association :factura_proveedor, :label_method => :numero_de_factura, include_blank: true, label: "Factura"  %>
     <%= form.association :gasto, :label_method => :id, include_blank: true, label: "Gasto"  %>
    <%= form.input :importe %>
    <%= form.input :forma_de_pago, collection: ['Cheque', 'Efectivo', 'Transferencia'] %>
   <%= form.input :banco, collection: ['Bogota 8414', 'Bancolombia', 'Citibank'] %>
   <%= form.input :numero_de_cheque %>
    <%= form.button :submit, 'Guardar', class: 'submit' %>
  <% end %>
  <br>
  <%= link_to 'Regresar', pagos_path %>
</div>