<% content_for :title do %>Pagos<% end %>
<h3>Nueva Orden de Pago</h3>
<div class="form">
  <%= simple_form_for @pago do |form| %>
    <%= form.input :fecha %>
    <%= form.association :proveedore, :label_method => :nombre, include_blank: true, label: "Proveedor"  %>
    <%= form.button :submit, 'Guardar', class: 'submit' %>
  <% end %>
</div>
<%= link_to 'Regresar', pagos_path %>