<p>
  <strong>Fecha:</strong>
  <%= @pago.fecha %>
</p>

<p>
  <strong>Proveedor:</strong>
  <%= @pago.proveedore.nombre %>
</p>
<p>
  <strong>Importe:</strong>
  <%= @pago.importe %>
</p>

<p>
  <strong>Forma de pago:</strong>
  <%= @pago.forma_de_pago %>
</p>

<p>
  <strong>Banco:</strong>
  <%= @pago.banco %>
</p>

<%if :forma_de_pago == 'Cheque'%>
<p>
  <strong>Numero de cheque:</strong>
  <%= @pago.numero_de_cheque %>
</p>

<p>
  <strong>Pagada:</strong>
  <%= @pago.pagar %>
</p>

<% end %>

<p><%= link_to 'Descargar en PDF', pago_path(@pago, format: 'pdf') %></p>
<%= link_to 'Editar', edit_pago_path(@pago) %> |
<%= link_to 'Regresar', pagos_path %>
