<p>
  <strong>Fecha:</strong>
  <%= @pago.fecha %>
</p>

<p>
  <strong>Proveedor:</strong>
  <%= @pago.proveedore.nombre %>
</p>

<%if :numero_de_factura == nil%>
  <p>
    <strong>Gasto:</strong>
    <%= @pago.gasto_id %>
  </p>
<% else %>
<p>
    <strong>Facturas:</strong>
    <%= @pago.factura_proveedor.numero_de_factura %>
  </p>
  
<% end %>

<p>
  <strong>Forma de pago:</strong>
  <%= @pago.forma_de_pago %>
</p>

<p>
  <strong>Banco:</strong>
  <%= @pago.banco %>
</p>

<%if :forma_de_pago == 'Cheque'%>
<p>
  <strong>Numero de cheque:</strong>
  <%= @pago.numero_de_cheque %>
</p>
<% end %>


<%= link_to 'Editar', edit_pago_path(@pago) %> |
<%= link_to 'Regresar', pagos_path %>
