<% content_for :title do %>Items de Pago<% end %>
<h3>Nuevo Item de Pago</h3>
<div class="form">
    <%= simple_form_for ([@pago, @pago_item]) do |form| %>
    <%= form.association :factura_proveedor, :label_method => :numero_de_factura, include_blank: false, label: "Factura a Pagar"  %>
    <%= form.input :importe %>
    <%= form.input :forma_de_pago, collection: ['Cheque', 'Efectivo', 'Transferencia'] %>
    <%= form.input :banco, collection: ['Banco de Bogota Corriente 8414', 'Bancolombia Corriente 6464', 'Citibank Corriente 0035'] %>
    <%= form.input :numero_de_cheque %>
     <%= form.button :submit, 'Guardar', class: 'submit' %>
    <% end %>
  </div>

<%= link_to 'Regresar', pagos_path %>
