<p id="notice"><%= notice %></p>

<h1>Listing Proveedores</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Nit</th>
      <th>Dirección</th>
      <th>Teléfono</th>
      <th>Contacto financiero</th>
      <th>Contacto comercial</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @proveedores.each do |proveedore| %>
      <tr>
        <td><%= proveedore.nombre %></td>
        <td><%= proveedore.nit %></td>
        <td><%= proveedore.direccion %></td>
        <td><%= proveedore.telefono %></td>
        <td><%= proveedore.contacto_financiero %></td>
        <td><%= proveedore.contacto_comercial %></td>
        <td><%= link_to 'Show', proveedore %></td>
        <td><%= link_to 'Edit', edit_proveedore_path(proveedore) %></td>
        <td><%= link_to 'Destroy', proveedore, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Proveedore', new_proveedore_path %>
