<% content_for :title do %>Proveedor<% end %>
<h3>Nuevo Proveedor</h3>
<div class="form">
  <%= simple_form_for @proveedore do |form| %>
    <%= form.input :nombre %>
    <%= form.input :nit %>
    <%= form.input :contacto_financiero %>
    <%= form.input :contacto_comercial %>
    <%= form.input :pronto_pago %>
    <%= form.input :dias_pronto_pago, collection: [ 15, 30, 45 ] %>
    <%= form.button :submit, 'Submit', class: 'submit' %>
  <% end %>
</div>

<%= link_to 'Regresar', proveedores_path %>
