<p>
  <strong>Nombre:</strong>
  <%= @proveedore.nombre %>
</p>

<p>
  <strong>Nit:</strong>
  <%= @proveedore.nit %>
</p>

<p>
  <strong>Contacto financiero:</strong>
  <%= @proveedore.contacto_financiero %>
</p>

<p>
  <strong>Contacto comercial:</strong>
  <%= @proveedore.contacto_comercial %>
</p>

<p>
  <strong>Pronto pago:</strong>
  <%= number_to_percentage((@proveedore.pronto_pago * 100), precision: 0) %>
</p>

<p>
  <strong>Dias pronto pago:</strong>
  <%= @proveedore.dias_pronto_pago %>
</p>
<%= link_to 'Editar', edit_proveedore_path(@proveedore) %> |
<%= link_to 'Regresar', proveedores_path %>
