<% content_for :title do %>Factura<% end %>
<h3>Factura</h3>
<div class="form">
  <%= simple_form_for @factura do |form| %>
    <%= form.error_notification %>
    <%= form.input :fecha_de_expedicion %>
    <%= form.association :cliente, :label_method => :nombre,  label: "Cliente", :include_blank => false %>
    <%= form.button :submit, 'Submit', class: 'submit' %>
  <% end %>
</div>