<% content_for :title do %>Factura<% end %>
<h3>Factura</h3>
<div class="form">
  <%= simple_form_for @factura do |form| %>
    <%= form.input :fecha_de_expedicion %>
    <%= form.association :cliente, :label_method => :nombre,  label: "Cliente", :include_blank => false %>
    <%= form.association :presupuesto, :label_method => :id,  label: "Presupuesto", :include_blank => false %>
    <%= form.button :submit, 'Grabar', class: 'submit' %>
  <% end %>
</div>

<%= link_to 'Regresar', facturas_path %>