<p>
  <strong>Factura de venta:</strong>
  <%= @factura.id %>
</p>
<p>
  <strong>Fecha de Expedicion:</strong>
  <%= @factura.fecha_de_expedicion %>
</p>
<p>
  <strong>Cliente:</strong>
  <%= @factura.cliente.nombre %>
</p>
<p>
  <strong>Nit:</strong>
  <%= @factura.cliente.numero_de_documento   %>
</p>
<p>
  <strong>Dirección:</strong>
  <%= @factura.cliente.try(:direccion_de_facturacion) %>
</p>
<p>
  <strong>Teléfono:</strong>
  <%= @factura.cliente.try(:telefono) %>
</p>
<p>
  <strong>Titulo:</strong>
  <%= @factura.presupuesto.titulo %>
</p>
<p>
  <strong>Producto:</strong>
  <%= @factura.presupuesto.producto %>
</p>
<p>
  <strong>Ejecutivo:</strong>
  <%= @factura.cliente.try(:colaboradore_id) %>
</p>


<div class="media">
  <div class="media-body">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Proveedor</th>
          <th>Medio</th>
          <th>Fecha</th>
          <th>Ubicacion/Programa</th>
          <th>Unidad</th>
          <th>Cantidad</th>
          <th>Costo Unidad</th>
          <th>Descuento</th>
          <th>SubTotal</th>
          <th>IVA</th>
          <th>Total</th>
        </tr>
      </thead>
        <tbody>
          <% total_general = 0 %>
          <% dto = 0 %>
          <% subtotal = 0 %>
          <% area = 0 %>
          <% iva = 0 %>

          <% @factura_item.each do |factura_item| %>
            <tr>
              <td><h4><%= factura_item.ordene.medio.proveedore.try(:nombre) %></h4></td>
              <td><h4><%= factura_item.ordene.medio.try(:nombre) %></h4></td>
              <td><h4><%= factura_item.fecha_orden %></h4></td>
              <td><h4><%= factura_item.ubicacion %></h4></td>
              <td><h4><%= factura_item.unidad %></h4></td>
              <td><h4><%= factura_item.cantidad %></h4></td>
              <td><h4><%= number_to_currency(factura_item.costo_unidad, :precision => 0) %></h4></td>
              <td><h4><%= number_to_percentage((factura_item.descuento * 100), :precision => 0) %></h4></td> 
              <% dto = factura_item.descuento * factura_item.costo_unidad %>
              <% if area == 0 %>
                  <td><h4><%= number_to_currency(subtotal = ((factura_item.costo_unidad - dto) * factura_item.cantidad), :precision => 0) %></h4></td>
                <% else %>
                <% area = ordene.cm * ordene.col %>
                  <td><h4><%= number_to_currency(subtotal = (((area * factura_item.costo_unidad) - dto) * factura_item.cantidad)) %></h4></td>
              <% end %>
              <% iva = factura_item.iva %>
              <td><h4><%= number_to_currency(factura_item.iva, :precision => 0) %></h4></td>
              <td><h4><%= number_to_currency(total = subtotal + iva, :precision => 0) %></h4></td>
              <td><%#= link_to 'Editar', edit_factura_item_path(@factura_item) %></td>
              <td><%#= link_to 'Eliminar', factura_item_path(@factura_item), method: :delete, data: { confirm: 'Confirma?' } %></td>
              <% total_general = total + total_general%>
            </tr>
          <% end %>

      </tbody>
    </table> 

    <h4 class="pull-right">Total Factura:<%= number_to_currency(total_general, :precision => 0) %></h4>


<p><%= link_to 'Descargar Factura en PDF', factura_path(@factura, format: 'pdf') %></p>
<p><%= link_to 'Editar', edit_factura_path(@factura) %> |
<%= link_to 'Regresar', facturas_path %></p>

