<p id="notice"><%= notice %></p>

<p>
  <strong>Factura de venta:</strong>
  <%= @factura.fecha_de_expedicion %>
  
	<% Ordene.all.each do |ordene| %>
	  <%= ordene.fecha_orden %>
		<%= ordene.medio.nombre %>
	<% end %>

</p>

<%= link_to 'Edit', edit_factura_path(@factura) %> |
<%= link_to 'Back', facturas_path %>
