<p>
  <strong>Factura de venta:</strong>
  <%= @factura.id %>
</p>
<p>
  <strong>Fecha de Expedicion:</strong>
  <%= @factura.fecha_de_expedicion %>
</p>
<p>
  <strong>Cliente:</strong>
  <%= @cliente.nombre %>
</p>

<%= link_to 'Edit', edit_factura_path(@factura) %> |
<%= link_to 'Back', facturas_path %>
