<p>
  <strong>Factura de venta:</strong>
  <%= @factura.id %>
</p>
<p>
  <strong>Fecha de Expedicion:</strong>
  <%= @factura.fecha_de_expedicion %>
</p>
<p>
  <strong>Cliente:</strong>
  <%= @factura.cliente.nombre %>
</p>
<p>
  <strong>Nit:</strong>
  <%= @factura.cliente.try(:nit)   %>
</p>
<p>
  <strong>Dirección:</strong>
  <%= @factura.cliente.try(:direccion_de_facturacion) %>
</p>
<p>
  <strong>Teléfono:</strong>
  <%= @factura.cliente.try(:telefono) %>
</p>
<p>
  <strong>Titulo:</strong>
  <%= @factura.presupuesto.titulo %>
</p>
<p>
  <strong>Producto:</strong>
  <%= @factura.presupuesto.producto %>
</p>
<p>
  <strong>Colaboradore:</strong>
  <%= @factura.cliente.colaboradore_id %>
</p>


<div class="media">
  <div class="media-body">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Proveedor</th>
          <th>Medio</th>
          <th>Fecha Orden</th>
          <th>Medida</th>
          <th>Unidad</th>
          <th>Costo Unidad</th>
          <th>Total</th>
      <th>Factura</th>
        </tr>
      </thead>
        <tbody>
          <% total_general = 0 %>
          <% @factura_item.each do |factura_item| %>
          <tr>
            <td><h4><%= factura_item.ordene.medio.try(:nombre) %></h4></td>
            <td><h4><%= factura_item.fecha_orden %></h4></td>
            <td><h4><%= factura_item.medida %></h4></td>
            <td><h4><%= factura_item.costo_unidad %></h4></td>
            <td><h4><%= factura_item.cantidad %></h4></td>
            <td><h4><%= number_to_currency(factura_item.cantidad * factura_item.costo_unidad) %></h4></td>
            <td><h4><%= factura_item.total %></h4></td>
            </h4></td>
            <td><%= link_to 'Edit', edit_factura_item_path(@factura_item) %></td>
            <td><%= link_to 'Destroy', factura_item_path(@factura_item), method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% total_general = total_general + (factura_item.cantidad * factura_item.costo_unidad) %>
          </tr>
          <% end %>
      </tbody>
    </table> 

    <h4 class="pull-right">Total Factura:<%= number_to_currency(total_general) %></h4>


<%= link_to 'Edit', edit_factura_path(@factura) %> |
<%= link_to 'Back', facturas_path %>
<%= link_to 'Agregar Nuevo Item', factura_item_path %>
