<h1>Cuentas</h1>

<table>
  <thead>
    <tr>
      <th>Cuenta Id</th>
      <th>Grupo</th>
      <th>Cuenta</th>
      <th>Descripcion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cuenta_pucs.each do |cuenta_puc| %>
	    <tr>
        <td><%= cuenta_puc.id %></td>
        <td><%= cuenta_puc.grupo.descripcion %></td>
		    <td><%= cuenta_puc.cuenta %></td>
		    <td><%= cuenta_puc.descripcion %></td>
		</tr>
    <% end %>

  </tbody>
</table>

<br>

<%= link_to 'Nueva Cuenta', new_cuenta_puc_path %>
<br>
<br>
<%= form_tag import_cuenta_pucs_path, multipart: true do%>
  <%= file_field_tag :file %><br>
  <%= submit_tag 'Subir Datos', class: 'btn btn-default' %>
<% end %><br>
<%= link_to 'Descargar Reporte', cuenta_pucs_path(format: "csv"), class: 'btn btn-default' %>