<h1>Clases</h1>

<table>
  <thead>
    <tr>
      <th>Clase</th>
      <th>Descripcion</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @clases.each do |clase| %>
	    <tr>
		    <td><%= clase.clase %></td>
		    <td><%= clase.descripcion %></td>
        <td><%= link_to 'Mostrar', clase, class: 'btn btn-mini btn-default' %></td>
        <td><%= link_to 'Editar', edit_clase_path(clase), class: 'btn btn-mini btn-success' %></td>
        <td><%= link_to 'Eliminar', clase, method: :delete, data: { confirm: 'Confirma?' }, class: 'btn btn-mini btn-danger' %></td>
		</tr>
    <% end %>

  </tbody>
</table>

<br>

<%= link_to 'Nueva Clase', new_clase_path %>