<% content_for :title do %>Medio<% end %>
<h3>Medio</h3>
<div class="form">
  <%= simple_form_for @medio do |form| %>
    <%= form.input :nombre %>
    <%= form.input :nit %>
    <%= form.association :proveedore, :label_method => :nombre, include_blank: true, label: "Proveedor"  %>
    <%= form.input :tipo_de_volumen, collection: [ 'Automatico', 'Mensual', 'Bimestral', 'Semestral', 'Anual', 'Anual Grupo'] =%>
    <%= form.input :cobro, collection: [ 'Cruce', 'Facturacion' ] =%>
    <%= form.input :escala, collection: [ 0.1, 0.15, 0.20, 4, 5, 6, 7, 8, 9, 10, 11, 12] =%>
    <%= form.input :rango, collection: [['50,000 - 99,999'], ['100,000 - 150,000'], ['149,000 - 199,999'], ['200,000 - 249,999'], ['250,000 - 299,999'], ['300,000 - 349,999'], ['350,000 - 399,999'], ['400,000 - 449,999'], ['450,000 - 499,999'], ['500,000 - 549,999'], ['550,000 - 599,999'], ['600,000 - 649,999'], ['650,000 - 699,999'], ['700,000 - 749,999'], ['750,000 - 799,999'], ['800,000 - 849,999'], ['850,000 - 899,999'], ['900,000 - 949,999'], ['1,000,000 - 1,049,999'], ['1,050,000 - 1,149,000'], ['1,150,000 - 1,249,000'], ['1,250,000 - 1,299,000']] =%>
    <%= form.input :escala2, collection: [ 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12] =%>
    <%= form.input :rango2, collection: [['50,000 - 99,999'], ['100,000 - 150,000'], ['149,000 - 199,999'], ['200,000 - 249,999'], ['250,000 - 299,999'], ['300,000 - 349,999'], ['350,000 - 399,999'], ['400,000 - 449,999'], ['450,000 - 499,999'], ['500,000 - 549,999'], ['550,000 - 599,999'], ['600,000 - 649,999'], ['650,000 - 699,999'], ['700,000 - 749,999'], ['750,000 - 799,999'], ['800,000 - 849,999'], ['850,000 - 899,999'], ['900,000 - 949,999'], ['1,000,000 - 1,049,999'], ['1,050,000 - 1,149,000'], ['1,150,000 - 1,249,000'], ['1,250,000 - 1,299,000']] =%>
    <%= form.input :escala3, collection: [ 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12] =%>
    <%= form.input :rango3, collection: [['50,000 - 99,999'], ['100,000 - 150,000'], ['149,000 - 199,999'], ['200,000 - 249,999'], ['250,000 - 299,999'], ['300,000 - 349,999'], ['350,000 - 399,999'], ['400,000 - 449,999'], ['450,000 - 499,999'], ['500,000 - 549,999'], ['550,000 - 599,999'], ['600,000 - 649,999'], ['650,000 - 699,999'], ['700,000 - 749,999'], ['750,000 - 799,999'], ['800,000 - 849,999'], ['850,000 - 899,999'], ['900,000 - 949,999'], ['1,000,000 - 1,049,999'], ['1,050,000 - 1,149,000'], ['1,150,000 - 1,249,000'], ['1,250,000 - 1,299,000']] =%>
    <%= form.input :escala4, collection: [ 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12] =%>
    <%= form.input :rango4, collection: [['50,000 - 99,999'], ['100,000 - 150,000'], ['149,000 - 199,999'], ['200,000 - 249,999'], ['250,000 - 299,999'], ['300,000 - 349,999'], ['350,000 - 399,999'], ['400,000 - 449,999'], ['450,000 - 499,999'], ['500,000 - 549,999'], ['550,000 - 599,999'], ['600,000 - 649,999'], ['650,000 - 699,999'], ['700,000 - 749,999'], ['750,000 - 799,999'], ['800,000 - 849,999'], ['850,000 - 899,999'], ['900,000 - 949,999'], ['1,000,000 - 1,049,999'], ['1,050,000 - 1,149,000'], ['1,150,000 - 1,249,000'], ['1,250,000 - 1,299,000']] =%>
      <%= form.input :escala5, collection: [ 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12] =%>
    <%= form.input :rango5, collection: [['50,000 - 99,999'], ['100,000 - 150,000'], ['149,000 - 199,999'], ['200,000 - 249,999'], ['250,000 - 299,999'], ['300,000 - 349,999'], ['350,000 - 399,999'], ['400,000 - 449,999'], ['450,000 - 499,999'], ['500,000 - 549,999'], ['550,000 - 599,999'], ['600,000 - 649,999'], ['650,000 - 699,999'], ['700,000 - 749,999'], ['750,000 - 799,999'], ['800,000 - 849,999'], ['850,000 - 899,999'], ['900,000 - 949,999'], ['1,000,000 - 1,049,999'], ['1,050,000 - 1,149,000'], ['1,150,000 - 1,249,000'], ['1,250,000 - 1,299,000']] =%>
    <%= form.input :escala6, collection: [ 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12] =%>
    <%= form.input :rango6, collection: [['50,000 - 99,999'], ['100,000 - 150,000'], ['149,000 - 199,999'], ['200,000 - 249,999'], ['250,000 - 299,999'], ['300,000 - 349,999'], ['350,000 - 399,999'], ['400,000 - 449,999'], ['450,000 - 499,999'], ['500,000 - 549,999'], ['550,000 - 599,999'], ['600,000 - 649,999'], ['650,000 - 699,999'], ['700,000 - 749,999'], ['750,000 - 799,999'], ['800,000 - 849,999'], ['850,000 - 899,999'], ['900,000 - 949,999'], ['1,000,000 - 1,049,999'], ['1,050,000 - 1,149,000'], ['1,150,000 - 1,249,000'], ['1,250,000 - 1,299,000']] =%>

    <%= form.button :submit, 'Submit', class: 'submit' %>
  <% end %>
</div>
