<% content_for :title do %>Medio<% end %>
<h3>Editar Medio</h3>
<div class="form">
  <%= simple_form_for @medio do |form| %>
    <%= form.input :nombre %>
    <%= form.association :proveedore, :label_method => :nombre, include_blank: true, label: 'Proveedor' %>
    <%= form.input :tipo_de_volumen, collection: [ 'Automatico', 'Mensual', 'Bimestral', 'Semestral', 'Anual', 'Anual Grupo'] %>
    <%= form.input :cobro, collection: [ 'Cruce', 'Facturacion' ] %>
    <%= form.association :escala, :label_method => :escala, include_blank: true, label: 'Escala Automatica' %>
    <%= form.input :escala2, :label_method => :escala, include_blank: true, label: 'Escala 2' %>
    <%= form.input :rango2 %>
    <%= form.input :escala3, :label_method => :escala, include_blank: true, label: 'Escala 3' %>
    <%= form.input :rango3 %>
    <%= form.input :escala4, :label_method => :escala, include_blank: true, label: 'Escala 4' %>
    <%= form.input :rango4 %>
    <%= form.input :escala5, :label_method => :escala, include_blank: true, label: 'Escala 5' %>
    <%= form.input :rango5 %>
    <%= form.button :submit, 'Guardar', class: 'submit' %>
  <% end %>
</div>
<%= link_to 'Regresar', medios_path %>
