<% content_for :title do %>Medio<% end %>
<h3>Medio</h3>
<div class="form">
  <%= simple_form_for @medio do |form| %>
    <%= form.input :nombre %>
    <%= form.association :proveedore, :label_method => :nombre, include_blank: true, label: 'Proveedor' %>
    <%= form.input :tipo_de_volumen, collection: [ 'Automatico', 'Mensual', 'Bimestral', 'Semestral', 'Anual', 'Anual Grupo'] %>
    <%= form.input :cobro, collection: [ 'Cruce', 'Facturacion' ] %>
    <%= form.association :escala, :label_method => :escala, include_blank: true, label: 'Escala Automatica' %>
    <%= form.button :submit, 'Guardar', class: 'submit' %>
  <% end %>
</div>
<%= link_to 'Regresar', medios_path %>
