<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @medio.nombre %>
</p>

<p>
  <strong>Nit:</strong>
  <%= @medio.nit %>
</p>

<p>
  <strong>Dirección:</strong>
  <%= @medio.direccion %>
</p>

<p>
  <strong>Teléfono:</strong>
  <%= @medio.telefono %>
</p>

<p>
  <strong>Contacto financiero:</strong>
  <%= @medio.contacto_financiero %>
</p>

<p>
  <strong>Contacto comercial:</strong>
  <%= @medio.contacto_comercial %>
</p>

<p>
  <strong>Proveedore:</strong>
  <%= @medio.proveedore.nombre %>
</p>

<%= link_to 'Edit', edit_medio_path(@medio) %> |
<%= link_to 'Back', medios_path %>
