<p>
  <strong>Nombre:</strong>
  <%= @medio.nombre %>
</p>

<p>
  <strong>Tipo de Medio:</strong>
  <%= @medio.tipo_de_medio %>
</p>
<p>
  <strong>Proveedore:</strong>
  <%= @medio.proveedore.try(:nombre) %>
</p>

<%= link_to 'Editar', edit_medio_path(@medio) %> |
<%= link_to 'Regresar', medios_path %>
