<p>
  <strong>Nombre:</strong>
  <%= @medio.nombre %>
</p>

<p>
  <strong>Nit:</strong>
  <%= @medio.nit %>
</p>
<p>
  <strong>Proveedore:</strong>
  <%= @medio.proveedore.nombre %>
</p>

<%= link_to 'Editar', edit_medio_path(@medio) %> |
<%= link_to 'Regresar', medios_path %>
