<div class="row">
  <h1>Listado de Subcuentas</h1>
  <div class="pull-right range-query">
    <%= form_tag(subcuenta_pucs_path, :method => 'get', id: 'search-form') do %>
      <%= text_field_tag :search, params[:search], placeholder: "buscar subcuentas" %>
      <%= submit_tag 'Buscar', class: 'btn search-button' %>
    <% end %>
  </div>
</div>
<div class="media">
  <div class="media-body">
      <table class="table table-hover">
          <thead>
            <tr>
              <th>ID</th>
              <th>Clase</th>
               <th>Grupo</th>
              <th>Cuenta</th>
              <th>Subcuenta</th>
              <th>Descripcion</th>
            </tr>
          </thead>
        <tbody>
          <% @subcuenta_pucs.each do |subcuenta_puc| %>
      	    <tr>
              <td><%= subcuenta_puc.id %></td>
              <td><%= subcuenta_puc.cuenta_puc.grupo.clase.try(:descripcion) %></td>
              <td><%= subcuenta_puc.cuenta_puc.grupo.descripcion %></td>
              <td><%= subcuenta_puc.cuenta_puc.descripcion%></td>
      		    <td><%= subcuenta_puc.subcuenta %></td>
              <td><%= subcuenta_puc.descripcion %></td>
      		</tr>
          <% end %>
        </tbody> 
      </table>
    </div>
</div>
<br>
<%= link_to 'Nueva Subcuenta', new_subcuenta_puc_path %>
<br>
<br>
<%= form_tag import_subcuenta_pucs_path, multipart: true do%>
  <%= file_field_tag :file %><br>
  <%= submit_tag 'Subir Datos', class: 'btn btn-default' %>
<% end %><br>

<%= link_to 'Descargar Reporte', subcuenta_pucs_path(format: "csv"), class: 'btn btn-default' %>
