<% content_for :title do %>Subcuenta<% end %>
<h3>Subcuenta</h3>
<div class="form">
  <%= simple_form_for @subcuenta_puc do |form| %>
    <%= form.input :subcuenta %>
    <%= form.input :descripcion %>
    <%= form.association :CuentaPuc, :label_method => :descripcion,  label: "Clase" %>
    <%= form.button :submit, 'Submit', class: 'submit' %>
  <% end %>
</div>