<p>
  <strong>Fecha:</strong>
  <%= @transaccion.fecha %>
</p>

<% if :credito == nil %>
	<p>
	  <strong>Debito:</strong>
	  <%= @transaccion.debito %>
	</p>
 <% else %>
	<p>
	  <strong>Credito:</strong>
	  <%= @transaccion.credito %>
	</p>
<% end %>
<p>
  <strong>Subcuenta:</strong>
  <%= @transaccion.subcuenta_puc %>
</p>

<p>
  <strong>Rubro:</strong>
  <%= @transaccion.subcuenta_puc.nil? %>
</p>

<%= link_to 'Editar', edit_transaccion_path(@transaccion) %> |
<%= link_to 'Regresar', transaccions_path %>
