<div class="row">
  <h1>Listado Items de Factura</h1>
  <div class="pull-right range-query">
     <%= form_tag factura_items_path, method: :get do %>
        <%= text_field_tag 'search[fecha_orden_from]', @search.fecha_orden_from %>
        <%= text_field_tag 'search[fecha_orden_to]', @search.fecha_orden_to %>
        <%= submit_tag 'Buscar', class: 'btn search-button' %>
      <% end %>
  </div>
</div>
<div class="media">
  <div class="media-body">
      <table class="table table-hover">
          <thead>
            <tr>
              <th>Factura</th>
              <th>Item No.</th>
              <th>Presupuesto</th>
              <th>Orden</th>
              <th>Item de Orden</th>
              <th>Proveedor</th>
              <th>Cobro Incentivo Proveedor</th>
              <th>Fecha</th>
              <th>Valor</th>
              <th colspan="3"></th>
            </tr>
          </thead>
          <tbody>
            <% @factura_items.each do |factura_item| %>
              <tr>
                <td><h4><%= factura_item.factura.try(:id) %></h4></td>
                <td><h4><%= factura_item.id %></h4></td>
                <td><h4><%= factura_item.orden_item.ordene.presupuesto.id %></h4></td>
                <td><h4><%= factura_item.orden_item.ordene.id %></h4></td>
                 <td><h4><%= factura_item.orden_item.id %></h4></td>
                <td><h4><%= factura_item.orden_item.ordene.proveedore.nombre %></h4></td>
                <td><h4><%= factura_item.cobro_proveedor %></h4></td>
                <td><h4><%= factura_item.fecha_orden %></h4></td>
                <td><h4><%= number_to_currency(factura_item.subtotal, :precision => 0) %></h4></td>
                <td><%= link_to 'Editar', edit_factura_item_path(factura_item), class: 'btn btn-mini btn-success'  %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>

        <br>