<p id="notice"><%= notice %></p>

<h1>Listado Volumenes</h1>

<div class="media">
  <div class="media-body">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Medio</th>
          <th>Factura Item</th>
          <th>Tipo de Volumen</th>
          <th>Escalas</th>
          <th>Rango</th>
          <th>Cobro</th>
          <th>Valor</th>
          <th colspan="3"></th>
        </tr>
      </thead>
      
      <tbody>
    <% @volumen.each do |volumen| %>
      <tr>
        <td><%= volumen.medio_id %></td>
        <td><%= volumen.factura_item_id %></td>
        <td><%= volumen.tipo_de_volumen %></td>
        <td><%= volumen.escala %></td>
        <td><%= volumen.rango %></td>
        <td><%= volumen.escala2 %></td>
        <td><%= volumen.rango2 %></td>
        <td><%= volumen.escala3 %></td>
        <td><%= volumen.rango3 %></td>
        <td><%= volumen.escala4 %></td>
        <td><%= volumen.rango4 %></td>
        <td><%= volumen.escala5 %></td>
        <td><%= volumen.rango5 %></td>
        <td><%= volumen.escala6 %></td>
        <td><%= volumen.rango6 %></td>
		<td><%= volumen.cobro %></td>
        <td><%= volumen.valor %></td>
        <td><%= link_to 'Show', medio %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

