<% content_for :title do %>Nuevo Item de Orden<% end %>
<h3>Nueva Item de Orden</h3>
<div class="form">
  <%= simple_form_for([@presupuesto, @ordene, @orden_item]) do |form| %>
      <%= form.association :medio, :label_method => :nombre, include_blank: true, label: 'Medio' %>
      <%= form.input :fecha_item %>
      <%= form.input :referencia_preventa %>
      <%= form.input :ubicacion %>
      <%= form.input :formato %>
      <%= form.input :color, collection: ['B/N', 'Bicolor', 'Policromia'] %>
      <%= form.input :cm, input_html: {value: 0}%>
      <%= form.input :col, input_html: {value: 0}  %>
      <%= form.input :costo_unidad %>
      <%= form.input :descuento %>
      <%= form.input :cantidad %>
      <%= form.input :notas %>
      <%= form.input :aprobado_por_cliente %>
      <%= form.button :submit, 'Guardar', class: 'submit' %>
  <% end %>
</div>
<%= link_to 'Regresar', presupuestos_path %>