<p id="notice"><%= notice %></p>

<p>
  <strong>Fecha orden:</strong>
  <%= @ordene.fecha_orden %>
</p>

<p>
  <strong>Medida:</strong>
  <%= @ordene.medida %>
</p>

<p>
  <strong>Unidad:</strong>
  <%= @ordene.unidad %>
</p>

<p>
  <strong>Costo unidad:</strong>
  <%= @ordene.costo_unidad %>
</p>

<p>
  <strong>Total:</strong>
  <%= @ordene.total %>
</p>

<p>
  <strong>Presupuesto:</strong>
  <%= @ordene.presupuesto %>
</p>

<%= link_to 'Edit', edit_ordene_path(@ordene) %> |
<%= link_to 'Back', ordenes_path %>
