<% content_for :title do %>Asiento Contable<% end %>
<h3>Nuevo Asiento contable</h3>
<div class="form">
  <%= simple_form_for([@ajuste, @transaccion]) do |form| %>
    <%= form.input :fecha %>
    <%= form.association :subcuenta_puc, :label_method => :descripcion, include_blank: true, label: "Subcuenta"  %>
    <%= form.input :debito %>
    <%= form.input :credito %>
    <%= form.button :submit, 'Guardar', class: 'submit' %>
  <% end %>
</div>
<%= link_to 'Regresar', ajustes_path %>