<div class="row">
  <h1>Listado de Recibos de Caja</h1>
</div>
<div class="media">
  <div class="media-body">
      <table class="table table-hover">
          <thead>
            <tr>
              <th>Fecha</th>
              <th>Factura</th>
              <th>Recibo de Caja</th>
              <th>Importe</th>
              <th>Forma de Pago</th>>
              <th colspan="3"></th>
            </tr>
          </thead>
            <tbody>
              <% @recibo_items.each do |recibo_item| %>
                <tr>
                  <td><%= recibo_item.fecha %></td>
                  <td><%= recibo_item.recibo_de_caja_id %></td>
                  <td><%= number_to_currency(recibo_item.importe, :precision => 0) %></td>
                  <td><%= recibo_item.forma_de_pago %></td>
                  <td><%= link_to 'Mostrar', recibo_item, class: 'btn btn-mini btn-default' %></td>
                  <td><%= link_to 'Eliminar', recibo_item, method: :delete, data: { confirm: 'Confirma?' }, class: 'btn btn-mini btn-danger' %></td>
                </tr>
              <% end %>
            </tbody>
          </table>

          <br>

<%= link_to 'Nuevo Recibo de Caja', new_recibo_item_path %>