<div class="row">
  <h1>Listado de Recibos de Caja</h1>
  <div class="pull-right range-query">
     <%= form_tag recibo_de_cajas_path, method: :get do %>
        <%= text_field_tag 'search[fecha_from]', @search.fecha_from %>
        <%= text_field_tag 'search[fecha_to]', @search.fecha_to %>
        <%= submit_tag 'Buscar', class: 'btn search-button' %>
      <% end %>
  </div>
</div>
<div class="media">
  <div class="media-body">
      <table class="table table-hover">
          <thead>
            <tr>
              <th>Fecha</th>
              <th>Importe</th>
              <th>Factura</th>
              <th>Forma de Pago</th>
              <th colspan="3"></th>
            </tr>
          </thead>
            <tbody>
              <% @recibo_de_cajas.each do |recibo_de_caja| %>
                <tr>
                  <td><%= recibo_de_caja.fecha %></td>
                  <td><%= recibo_de_caja.importe %></td>
                  <td><%= recibo_de_caja.factura_id %></td>
                  <td><%= recibo_de_caja.forma_de_pago %></td>
                  <td><%= link_to 'Mostrar', recibo_de_caja, class: 'btn btn-mini btn-default' %></td>
                  <td><%= link_to 'Eliminar', recibo_de_caja, method: :delete, data: { confirm: 'Confirma?' }, class: 'btn btn-mini btn-danger' %></td>
                </tr>
              <% end %>
            </tbody>
          </table>

          <br>

<%= link_to 'Nuevo Recibo de Caja', new_recibo_de_caja_path %>
