<% content_for :title do %>Recibos de Caja<% end %>
<h3>Recibo de Caja</h3>
<div class="form">
  <%= simple_form_for @recibo_de_caja do |form| %>
    <%= form.input :fecha %>
    <%= form.association :cliente, :label_method => :nombre, include_blank: false, label: "Cliente"  %>
    <%= form.button :submit, 'Crear', class: 'submit' %>
  <% end %>
</div>
<%= link_to 'Regresar', recibo_de_cajas_path %>