<p>
  <strong>Fecha:</strong>
  <%= @recibo_de_caja.fecha %>
</p>

<p>
  <strong>Factura:</strong>
  <%= @recibo_de_caja.factura_id %>
</p>

<p>
  <strong>Importe:</strong>
  <%= @recibo_de_caja.importe %>
</p>

<p>
  <strong>Concepto:</strong>
  <%= @recibo_de_caja.concepto %>
</p>

<p>
  <strong>Forma de Pago:</strong>
  <%= @recibo_de_caja.forma_de_pago %>
</p>

<p>
  <strong>Codigo de Banco:</strong>
  <%= @recibo_de_caja.codigo_de_banco %>
</p>

<p>
  <strong>Numero de cheque:</strong>
  <%= @recibo_de_caja.numero_de_cheque %>
</p>

<p>
  <strong>Numero de cuenta:</strong>
  <%= @recibo_de_caja.numero_de_cuenta %>
</p>

<%= link_to 'Regresar', recibo_de_cajas_path %>
