<%# add navigation links to this file %>
  <li><%= link_to t('About'), page_path('about') %></li>
<% if user_signed_in? %>
    <% if policy(current_user).index? %>
      <li><%= link_to t('Users'), users_path %></li>
    <% end %>
    <% if policy(Colaboradore).index? %>
      <li><%= link_to t('Colaboradores'), colaboradores_path %></li>
    <% end %> 
    <% if policy(current_user).index? %> 
      <li><%= link_to t('Clientes'), clientes_path %></li>
    <% end %>
    <% if policy(current_user).index? %>
      <li><%= link_to t('Proveedores'), proveedores_path %></li>
    <% end %>
    <% if policy(current_user).index? %> 
      <li><%= link_to t('Medios'), medios_path %></li>
    <% end %>
    <% if policy(current_user).index? %>
      <li><%= link_to t('Presupuestos'), presupuestos_path %></li>
    <% end %>	

    <% if policy(current_user).index? %>
      <li><%= link_to t('Facturas'), facturas_path %></li>
    <% end %>
    <% if policy(current_user).index? %>
      <li><%= link_to t('Items'), factura_items_path %></li>
    <% end %>
    <% if policy(current_user).index? %>
      <li><%= link_to t('Facturas de Proveedor'), factura_proveedors_path %></li>
    <% end %>
     <% if policy(current_user).index? %>
      <li><%= link_to t('Gastos'), gastos_path %></li>
    <% end %>
    <% if policy(current_user).index? %>
      <li><%= link_to t('Pagos'), pagos_path %></li>
    <% end %>
    <% if policy(current_user).index? %>
      <li><%= link_to t('Activos Fijos'), activo_fijos_path %></li>
    <% end %>
    <% if policy(current_user).index? %>
      <li><%= link_to t('PUC'), subcuenta_pucs_path %></li>
    <% end %>

    <% if policy(Departamento).index? %>
      <li><%= link_to t('Departamentos'), departamentos_path %></li>
    <% end %>
    <% if policy(Cargo).index? %>
      <li><%= link_to t('Cargos'), cargos_path %></li>
    <% end %>  


      <li><%= link_to t('Sign out'), destroy_user_session_path, :method=>'delete' %></li>
<% else %>
    <li><%= link_to t('Sign in'), new_user_session_path %></li>
    <li><%= link_to t('Sign up'), new_user_registration_path %></li>
<% end %>

