<%# add navigation links to this file %>
<% if user_signed_in? %>
  <li><%= link_to 'Salir', destroy_user_session_path, :method=>'delete' %></li>  
  <div class='btn-group pull-right right-nav'>
       <button type="button" class="btn btn-mini dropdown-toggle" data-toggle="dropdown">
        <span class="caret"></span>
        <span clas="sr-only">Tesoreria</span>
       </button>
      <ul class="dropdown-menu" role="menu">
        <% if policy(FacturaProveedor).index? %>
          <li><%= link_to 'Facturas Proveedor', factura_proveedors_path %></li>
        <% end %>
        <% if policy(Gasto).index? %>
          <li><%= link_to 'Gastos', gastos_path %></li>
        <% end %>
        <% if policy(Pago).index? %>
          <li><%= link_to 'Pagos', pagos_path %></li>
        <% end %>
      </ul>
  </div>
<div class='btn-group pull-right right-nav'>
       <button type="button" class="btn btn-mini dropdown-toggle" data-toggle="dropdown">
        <span class="caret"></span>
        <span clas="sr-only">Medios</span>
       </button>
      <ul class="dropdown-menu" role="menu">
        <% if policy(Medio).index? %> 
          <li><%= link_to 'Medios', medios_path %></li>
        <% end %>
        <% if policy(Presupuesto).index? %>
          <li><%= link_to 'Ordenes', presupuestos_path %></li>
        <% end %> 
      </ul>
  </div>
<div class='btn-group pull-right right-nav'>
       <button type="button" class="btn btn-mini dropdown-toggle" data-toggle="dropdown">
        <span class="caret"></span>
        <span clas="sr-only">Facturacion</span>
       </button>
      <ul class="dropdown-menu" role="menu">
        <% if policy(Factura).index? %>
          <li><%= link_to 'Facturas', facturas_path %></li>
        <% end %>
        <% if policy(FacturaItem).index? %>
          <li><%= link_to 'Items', factura_items_path %></li>
        <% end %>
      </ul>
  </div>
<div class='btn-group pull-right right-nav'>
       <button type="button" class="btn btn-mini dropdown-toggle" data-toggle="dropdown">
        <span class="caret"></span>
        <span clas="sr-only">Contabilidad</span>
       </button>
      <ul class="dropdown-menu" role="menu">
        <% if policy(Proveedore).index? %>
          <li><%= link_to 'Proveedores', proveedores_path %></li>
        <% end %>
        <% if policy(FacturaProveedor).index? %>
          <li><%= link_to 'Facturas de Proveedor', factura_proveedors_path %></li>
        <% end %>
        <% if policy(Volumen).index? %>
          <li><%= link_to 'Incentivos', incentivos_path %></li>
        <% end %>
        <% if policy(ActivoFijo).index? %>
          <li><%= link_to 'Activos Fijos', activo_fijos_path %></li>
        <% end %>
        <% if policy(SubcuentaPuc).index? %>
          <li><%= link_to 'PUC', subcuenta_pucs_path %></li>
        <% end %>
        <% if policy(Ajuste).index? %>
          <li><%= link_to 'Ajustes Contables', ajustes_path %></li>
        <% end %>
        <% if policy(Ajuste).index? %>
          <li><%= link_to 'Libro Diario Oficial', total_ajustes_path %></li>
        <% end %>
        <% if policy(Escala).index? %>
          <li><%= link_to 'Escalas', escalas_path %></li>
        <% end %>
      </ul>
  </div>
<div class='btn-group pull-right right-nav'>
     <button type="button" class="btn btn-mini dropdown-toggle" data-toggle="dropdown">
      <span class="caret"></span>
      <span clas="sr-only">Cartera</span>
     </button>
    <ul class="dropdown-menu" role="menu">
      <% if policy(ReciboDeCaja).index? %>
        <li><%= link_to 'Recibos de Caja', recibo_de_cajas_path %></li>
        <% if policy(Cliente).index? %> 
          <li><%= link_to 'Clientes', clientes_path %></li>
        <% end %> 
      <% end %>
    </ul>
  </div>
  <div class='btn-group pull-right right-nav'>
     <button type="button" class="btn btn-mini dropdown-toggle" data-toggle="dropdown">
      <span class="caret"></span>
      <span clas="sr-only">Administracion</span>
     </button>
    <ul class="dropdown-menu" role="menu">
      <% if policy(current_user).index? %>
        <li><%= link_to 'Users', users_path %></li>
      <% end %>
      <% if policy(Colaboradore).index? %>
        <li><%= link_to 'Colaboradores', colaboradores_path %></li>
      <% end %> 
    <% if policy(Departamento).index? %>
      <li><%= link_to 'Departamentos', departamentos_path %></li>
     <% end %>
     <% if policy(Cargo).index? %>
      <li><%= link_to 'Cargos', cargos_path %></li>
     <% end %>  
    </ul>
  </div>
<% else %>
    <li><%= link_to 'Ingresar', new_user_session_path %></li>
    <li><%= link_to 'Registrarse', new_user_registration_path %></li>
<% end %>

